src/test/resources/DescribeFeatureTypeResponse-SF0.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ga="http://ga.gov.au" xmlns:gml="http://www.opengis.net/gml" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://ga.gov.au">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://103.6.252.217:80/gadata/schemas/gml/3.1.1/base/gml.xsd"/>
  <xsd:complexType name="gravitypointsType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="1" name="id" nillable="false" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="survey_number" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="observation_number" nillable="true" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="station_number" nillable="true" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geoid_groud_elevation" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ellipsoid_ground_height" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="observed_gravity" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geoid_gravity_meter_height" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ellipsoid_hgt_of_gravity_meter" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geoid_ellipsoid_separation" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="terrain_correction" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="terr_corr_density_used" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="observation_date" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="processing_date" nillable="true" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ellipsoid_freeair_anomaly" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="spherical_cap_bouguer_anomaly" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="geoidal_freeair_anomaly" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="infinite_slab_bouguer_anomaly" nillable="true" type="xsd:double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="gravitypoints" substitutionGroup="gml:_Feature" type="ga:gravitypointsType"/>
</xsd:schema>
